  <h1>Pick your favourite venue</h1>
  <div class="container-swipe">
    {{#each venues}}
    <div class="venue-box">
      <div class="img-container"><img src="{{image_url}}"/></div>
      <div>{{name}}</div>
      <div>{{{starFinder rating}}}</div>
      <div>{{address}}</div>
      <div>{{price}}</div>
    </div>
    {{/each}}
  </div>
  <div class=step-wrap>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
  <div class="heart-wrap uncolouredHeart"></div>
