
<!-- sarah -->
<div class="main-container">
  <h1>Pick your favourite venue</h1>
  <div class="container-swipe">
      {{#each venues}}
      <div class="venue-box">
      <img src="{{image_url}}" />
      <div>{{name}}</div>
      <div>{{rating}}/5</div>
      <div>{{address}}</div>
      <div>{{price}}</div>
    </div>
      {{/each}}
    </div>
    <div class=step-wrap>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
    <div class="heart-wrap uncolouredHeart"></div>
  </div>
</div>
</div>
<!-- sarah -->

<!-- <h1>Pick your favourite venue</h1>
<div class="container-wrap">
<div class="swipe-container display">
{{#each venues}}
<img src="{{image_url}}" />
{{/each}}
</div>

</div>

<div class="description-swipe-container">
{{#each venues}}
<div>{{rating}}/5</div>
{{/each}}
</div>
</div>
<div class="tap-for-more">Tap here for more</div>

<div class="description-container">
{{#each venues}}
<div class="description-wrap">
<div>{{name}}</div>
<div>{{rating}}/5</div>
<div>{{location.zip_code}}{{location.city}}</div>
<div>{{price}}</div>
</div>
{{/each}}
</div>

<div class=step-wrap>
<span class="step"></span>
<span class="step"></span>
<span class="step"></span>
<span class="step"></span>
<span class="step"></span>
<span class="step"></span>
<span class="step"></span>
</div>


<div>
<div class="heart-wrap uncolouredHeart">
</div>
</div> -->
