<header>

  {{>header}}

</header>

<h1>Pick your favourite venue</h1>

<div class="swipe-container">
  {{#each venues}}
  <div class="venue-box">
    <div class="venue-image-container">
      <img src="{{image_url}}" />
    </div>
    <div>{{name}}</div>
    <div class="venue-rating-stars">{{{starFinder rating}}}</div>
    <div>{{address}}</div>
    <div>{{postcode}}</div>
    <div>{{price}}</div>
    <form class="venue-form-wrap" action="/venuesubmit" method="POST">
      <input class="input-form-hidden" type="text" name="venuename" value="{{name}}" />
      <input class="input-form-hidden" type="text" name="venueaddress" value="{{address}}" />
      <input class="input-form-hidden" type="text" name="venuepostcode" value="{{postcode}}" />
    </form>
  </div>
  {{/each}}
</div>
<button class="standard-button venue-submit-button"> Choose this venue</button>
<div class="step-wrap">
  <span class="step active"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
</div>



<h1>SimpleStarRating Demo</h1>
            <p>
                <table>
                    <tr>
                        <td>Default</td>
                        <td><span class="rating"></span></td>
                    </tr>
                    <tr>
                        <td>Golden</td>
                        <td><span class="rating golden"></span></td>
                    </tr>
                    <tr>
                        <td>Initial Value (2.5 stars)</td>
                        <td><span class="rating" data-default-rating="2.5"></span></td>
                    </tr>
                    <tr>
                        <td>Big and Red</td>
                        <td><span class="rating big-red"></span></td>
                    </tr>
                    <tr>
                        <td>10 Stars</td>
                        <td><span class="rating" data-stars="10"></span></td>
                    </tr>
                    <tr>
                        <td>Disabled</td>
                        <td><span class="rating" data-default-rating="4.5" disabled></span></td>
                    </tr>
                </table>
