<header>

  {{>header}}

</header>

  <h1>Pick your favourite venue</h1>

  <div class="swipe-container">
    {{#each venues}}
    <div class="venue-box">
      <div class="venue-image-container">
        <img src="{{image_url}}"/>
      </div>
      <div>{{name}}</div>
      <div class="venue-rating-stars">{{{starFinder rating}}}</div>
      <div>{{address}}</div>
      <div>{{price}}</div>
    </div>
    {{/each}}
  </div>

  <div class="step-wrap">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>

  <div class="heart-wrap uncolouredHeart"></div>
